<!--HEADER DIRECTIVE-->
<homenav></homenav>
<section class="lnm-startupfm"><br><br>
    <div class="container">
        <div class="row rw-btm">
            <div class="col l8 s12 m8 offset-l2 offset-s2">
                <div class="card back nomargin">
                    <form name="changePassword">
                    <div class="card-content">
                        <div class="lmnstfm-hd">Change Password</div>
                        <div class="row rw-btm">
                            <div class="input-field col s12">
                                <input id="password" type="password"  name="oldpass" ng-model="user.oldpassword" class="validate" required>
                                <label for="password">Old Password</label>
                                <div class="error left-align" ng-show="changePassword.oldpass.$dirty && changePassword.oldpass.$touched">
                                    <small class="error  left-align" ng-show="user.oldpassword==user.newpassword">
                                        Old password is not same as newpassword
                                    </small>
                                </div>
                            </div>
                            <div class="input-field col s12">
                                <input id="password2" type="password" name="newpassword"  ng-minlength="6" ng-model="user.newpassword" class="validate" required>
                                <div class="error left-align" ng-show="changePassword.newpassword.$dirty && changePassword.newpassword.$touched">
                                    <small  class="error left-align" ng-show="changePassword.newpassword.$error.minlength">
                                        Password should have atleast 6 characters
                                    </small>
                                </div>
                                <label for="password2">New Password</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="password3" type="password" name="newpwd1"  ng-model="user.renewpassword"   class="validate" required>
                                <div class="error left-align"  ng-show="changePassword.newpwd1.$dirty && changePassword.newpwd1.$touched ">
                                    <small class="error left-align" ng-show="user.newpassword!=user.renewpassword">
                                        Confirm Password is not matching Password Field ,Please check it!
                                    </small>
                                </div>
                                <label for="password3">Confirm New Password</label>
                            </div>

                        </div>
                        <div class="row rw-btm ">
                           <!-- <center><a class="waves-effect waves-light btn lnm-signin right">Send</a></center>-->
                            <!--<center><button type="submit" ng-click="submitted=true;changepasswordform.$valid && changePassword(user)" class="waves-effect waves-light btn right">Send</button></center>-->
                            <button type="submit" ng-disabled="changePassword.$invalid && changePassword.$error" class="waves-effect waves-light lnm-signin right " ng-click="changepassword(user)">Change Password</button>
                        </div>
                    </div>
                    </form>

                </div>
            </div>
        </div>
    </div><br><br>

</section>
<!--FOOTER DIRECTIVE-->
<footer></footer>
<form  >

    <div class="row">

    </div>
    <div class="row">

    </div>
    <div class="col s12">
        <div class="right">

            <div class="div-screen-hr-very-small"></div>
        </div>
    </div>
</form>
