
<!--HEADER DIRECTIVE-->
<homenav></homenav>
<!--*********SLIDER SECTION STRAT*************-->
  <section>
          <div class="row rw-btm">
			<div class="slider">
					<ul class="slides">
					
				 <!--******** ITEM ONE************-->
                        <li>
                            <!--<img src="assets/images/slider/slider-01.jpg">-->
                            <!-- random text -->
							<img src=""/>
                           <div class="caption center-align mttop100">
                           <center><div class="lmn-sldicon img2"></div></center>
						  <h5>Are you a Startup?<br>Get Insights. Get Rated. Get Funded</h5>
							 <div class="knw-mt">
								<p><a class="waves-effect waves-light btn btn-green lnm-morebtn">Learn More</a></p>
							</div>
						</div>
                        </li> 
                         <!--******** ITEM TWO************-->
                        <li>
                           <!-- <img src="assets/images/slider/slider-02.jpg">-->
                            <!-- random text -->
                           <div class="caption center-align mttop100">
                           <center><div class="lmn-sldicon img3"></div></center>
						  <h5>Are you a Mentor?<br>Share insights. Get Startups funded </h5>
							 <div class="knw-mt">
								<p><a class="waves-effect waves-light btn btn-green lnm-morebtn">Learn More</a></p>
							</div>
						</div>
                        </li> 
                        <!--******** ITEM THREE************-->
					  <li>
						<!--<img src="assets/images/slider/slider-03.jpg">-->
						<!-- random text -->
						<div class="caption center-align mttop100" >
						<center><div class="lmn-sldicon img1"></div></center>
						  <h5>Are you an Incubator?<br>
							  Accelerate creating Fundable Startups
						  </h5>
							<!-- <h6>Startups discover rated mentors for getting insights and pitch their story to get curated </h6> -->
							 <div class="knw-mt">

								<p><a class="waves-effect waves-light btn btn-green lnm-morebtn">Learn More</a></p>
							</div>
						</div>
					  </li>
                        <!--******** ITEM FOUR************-->
                        <li>
                           <!-- <img src="assets/images/slider/slider-04.jpg">-->
                            <!-- random text -->
                         <div class="caption center-align mttop100">
                           <center><div class="lmn-sldicon img4"></div></center>
						  <h5>
							  Are you an Investor?<br>
							  Discover Fundable Startups
						  </h5>
							 <div class="knw-mt">
								<p><a class="waves-effect waves-light btn btn-green lnm-morebtn">Learn More</a></p>
							</div>
						</div>
                        </li>
					</ul>
				  </div>
			</div>
</section>
<!--*********SUMMARY STRAT************-->
<section class="lnm-summary">
	<div class="container">
		<div class="row ">
	        <div class="col s12 m12 l12">
	        	<H5 class="lnmdel-summhdtext">SUMMARY</H5>
	        	<!-- <p class="lnm-summtext">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p> -->
	        </div>
	        </div>
	 </div>
	<div class="container lnm-summarycnt">
		<div class="owl-carousel" id="owl-summary">
		<!--******** ITEM ONE************-->
		        <div class="item">
		        	<div class="card lnmcard lnmcard-bdr1">
		            <div class="card-content lnmcard-content c1">
		              <span class="card-title lmn-card-title">Total Startups</span>
		            </div>
		            <div class="card-action crd-act1">
		              <a href="#">4200</a>
		            </div>
		          </div>
		        </div>
		 <!--******** ITEM TWO************-->
		        <div class="item">
	        	<div class="card lnmcard lnmcard-bdr2">
		            <div class="card-content lnmcard-content c2">
		              <span class="card-title lmn-card-title">Rated Startups</span>
		            </div>
		            <div class="card-action crd-act2">
		              <a href="#">450</a>
		            </div>
		          </div>
	        </div>
	      <!--******** ITEM THREE************-->
	        <div class="item"> 
	        	<div class="card lnmcard lnmcard-bdr3">
		            <div class="card-content lnmcard-content c3">
		              <span class="card-title lmn-card-title">Total Mentors</span>
		            
		            </div>
		            <div class="card-action crd-act3">
		              <a href="#">1800</a>
		            </div>
		          </div>
	        </div>
	       <!--******** ITEM FOUR************-->
	        <div class="item">
	        	<div class="card lnmcard lnmcard-bdr4">
		            <div class="card-content lnmcard-content c4">
		              <span class="card-title lmn-card-title">Rated Mentors</span>
		            </div>
		            <div class="card-action crd-act4">
		              <a href="#">700</a>
		            </div>
		          </div>
	        </div>
	      <!--******** ITEM FIVE************-->
	        <div class="item">
	        	<div class="card lnmcard lnmcard-bdr1">
		            <div class="card-content lnmcard-content c1">
		              <span class="card-title lmn-card-title">Conversations</span>
		            </div>
		            <div class="card-action crd-act1">
		              <a href="#">150</a>
		            </div>
		          </div>
	        </div>
	         <!--******** ITEM SIX************-->
	        <div class="item">
	        	<div class="card lnmcard lnmcard-bdr2">
		            <div class="card-content lnmcard-content c2">
		              <span class="card-title lmn-card-title">Mentor Insights</span>
		            </div>
		            <div class="card-action crd-act2">
		              <a href="#">75</a>
		            </div>
		          </div>
	        </div>
	         <!--******** ITEM SEVEN************-->
	        <div class="item">
	        	<div class="card lnmcard lnmcard-bdr3">
		            <div class="card-content lnmcard-content c3">
		              <span class="card-title lmn-card-title">Startup Kudos</span>
		            </div>
		            <div class="card-action crd-act3">
		              <a href="#">50</a>
		            </div>
		          </div>
	        </div>
	         <!--******** ITEM EIGHT************-->
	        <div class="item">
	        	<div class="card lnmcard lnmcard-bdr4">
		            <div class="card-content lnmcard-content c4">
		              <span class="card-title lmn-card-title">Pending Queries</span>
		            </div>
		            <div class="card-action crd-act4">
		              <a href="#">40</a>
		            </div>
		          </div>
	        </div>
	        </div>
	 </div>
</section>
<!--*********HOW IT WORKS STRAT************-->
<section class="lnm-howitwork">
	<div class="container">
		<div class="row ">
	        <div class="col s12 m12 l12">
	        	<H5 class="lnmdel-howithdtext">HOW IT WORKS</H5>
	        	
	        </div>
	         <div class="col s12 m12 l12 img-center">
	        	<img src="assets/images/howitworksnew.png" class="responsive-img">
	        	
	        </div>
		 </div>
	</div>
</section>
<!--*********How are startups rated at different stages?************-->
<section class="lnm-startuprate">
	<div class="container rating-cnt">
		<div class="row rw-btm">
			<div class="col s12 m12 l12">
				<H5 class="lnmdel-benefitdtext">How are Startups Rated at Different Stages?</H5>
				<!-- <H6 class="lnmdel-benefits">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </H6> -->
			</div>
			<div class="col s12 ">
				<div class="lmn-box " style="min-height:150px;">
					<form action="#">
						<p class="range-field">
						<div class="lmn-timelineholder"><br>
							<timeline timelinedata="{'rating':'70'}"></timeline>
						</div>
						</p>
					</form>
				</div>
			</div>
		</div>


	</div>
</section>
<!--*********BENEFITS************-->
<section class="lnm-benefits">
	<div class="container">
		<div class="row rw-btm">
	        <div class="col s12 m12 l12">
	        	<H5 class="lnmdel-benefitdtext">BENEFITS</H5>
	        	<!-- <H6 class="lnmdel-benefits">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </H6> -->
	        </div>
		 </div>
		 </div>
		 <div class="container cont-bnft cont-mobile">
		 <div class="row ">
	        <div class="col s12 m12 l12">
	         	<div class="col s12 m6 l6 offset-l3 offset-m4 ">
		        	<ul class="tabs lmn-tabs">
		        			<li class="tab col s3 m3 l3  lmn-tab"><a  href="#incubator">Incubators</a></li>
					        <li class="tab col s3 m3 l3 lmn-tab"><a  href="#startups">Startups</a></li>
					        <li class="tab col s3 m3 l3 lmn-tab"><a href="#mentors">Mentors </a></li>
					        <li class="tab col s3 m3 l3 lmn-tab"><a href="#investors"> Investors</a></li>
					</ul>
				</div>
				<!--*********Incubator TAB************-->
				<div id="incubator" class="col s12">
				<div class="col s12 m6 l5 offset-l1 onhover-bnft no-padding lmn-tabsbnf ">
		        	<div class="col m4 l3 s4">
		        		<div class="lmn-lensimg lmn-bnfticon "></div>
		        	</div>
		        	<div class="col m8 l9 s8">
		        		<p class="lmn-bnnfthding">Benefit #1</p>
		        		<span class="lmn-bnnfthsubhding">Get the real-time view of the
							latest story and challenges
							of all startups any time
						</span>
		        	</div>
		        </div>
		        <div class="col s12 m6 l5 offset-l1   onhover-bnft no-padding lmn-tabsbnf">
		        	<div class="col m4 l3 s4">
		        		
		        		<div class="lmn-lensimg lmn-bnfticon "></div>
		        	</div>
		        	<div class="col m8 l9 s8">
		        		<p class="lmn-bnnfthding"> Benefit #2</p>
		        		<span class="lmn-bnnfthsubhding">
		        			Discover and engage the
							best and right mentors for
							each startup
		        		</span>
		        	</div>
		        </div>
	        	<div class="col s12 m6 l5 offset-l1   onhover-bnft no-padding lmn-mt20 lmn-tabsbnf">
		        	<div class="col m4 l3 s4">
		        		<div class="lmn-lensimg lmn-bnfticon "></div>
		        	</div>
		        	<div class="col m8 l9 s8">
		        		<p class="lmn-bnnfthding">Benefit #3</p>
		        		<span class="lmn-bnnfthsubhding">
		        			Enable entrapreneurs to
							resolve their challenges fast
							by getting insights from
							multiple mentors
		        		</span>
		        	</div>
		        </div>
		        <div class="col s12 m6 l5 offset-l1   onhover-bnft no-padding lmn-mt20 lmn-tabsbnf">
		        	<div class="col m4 l3 s4">
		        		<div class="lmn-mirrorimg lmn-bnfticon "></div>
		        	</div>
		        	<div class="col m8 l19 s8">
		        		<p class="lmn-bnnfthding">Benefit #4</p>
		        		<span class="lmn-bnnfthsubhding">Get each startup rated
						against metrics to give a
						realistic picture & find the
						best one with market
						potential for success</span>
		        	</div>
		        </div>
				</div>
				<!--*********Startsups TAB************-->

				<div id="startups" class="col s12">
	        	<div class="col s12 m6 l5 offset-l1   onhover-bnft no-padding">
		        	<div class="col m4 l3 s4">
		        		<div class="lmn-lensimg lmn-bnfticon"></div>
		        	</div>
		        	<div class="col m8 l19 s8">
		        		<p class="lmn-bnnfthding"> Benefit #1</p>
		        		<span class="lmn-bnnfthsubhding">Discover and engage with the best and right mentors to guide 
</span>
		        	</div>
		        </div>
		        <div class="col s12 m6 l5 offset-l1   onhover-bnft no-padding">
		        	<div class="col m4 l3 s4">
		        		<div class="lmn-lensimg lmn-bnfticon"></div>
		        	</div>
		        	<div class="col m8 l19 s8">
		        		<p class="lmn-bnnfthding"> Benefit #2</p>
		        		<span class="lmn-bnnfthsubhding">Get insights to help resolve challenges through guidance from multiple mentors anytime </span>
		        	</div>
		        </div>
	        	<div class="col s12 m6 l5 offset-l1   onhover-bnft lmn-mt20 no-padding">
		        	<div class="col m4 l3 s4">
		        		<div class="lmn-mirrorimg lmn-bnfticon "></div>
		        	</div>
		        	<div class="col m8 l19 s8">
		        		<p class="lmn-bnnfthding">Benefit #3</p>
		        		<span class="lmn-bnnfthsubhding">Get rated fast to increase chances of discovery and funding by investors </span>
		        	</div>
		        </div>
		        <div class="col s12 m6 l5 offset-l1   onhover-bnft lmn-mt20 no-padding">
		        	<div class="col m4 l3 s4">
		        		<div class="lmn-mirrorimg lmn-bnfticon "></div>
		        	</div>
		        	<div class="col m8 l19 s8">
		        		<p class="lmn-bnnfthding">Benefit #4</p>
		        		<span class="lmn-bnnfthsubhding">Get realistic picture of startup progress against objective metrics before it is too late </span>
		        	</div>
		        </div>

				</div>
				<!--*********Mentors TAB************-->
				<div id="mentors" class="col s12">
					  	<div class="col s12 m6 l5 offset-l1  onhover-bnft no-padding">
		        	<div class="col m4 l3 s4">
		        		<div class="lmn-lensimg lmn-bnfticon"></div>
		        	</div>
		        	<div class="col m8 l19 s8">
		        		<p class="lmn-bnnfthding">Benefit #1</p>
		        		<span class="lmn-bnnfthsubhding">Discover and engage with
						the right startup/team to
						mentor</span>
		        	</div>
		        </div>
		        <div class="col s12 m6 l5 offset-l1 onhover-bnft no-padding">
		        	<div class="col m4 l3 s4">
		        		<div class="lmn-lensimg lmn-bnfticon"></div>
		        	</div>
		        	<div class="col m8 l19 s8">
		        		<p class="lmn-bnnfthding">Benefit #2</p>
		        		<span class="lmn-bnnfthsubhding">Find easily the startup
						challenges seeking
						mentoring guidance any
						time</span>
		        	</div>
		        </div>
	        	<div class="col s12 m6 l5 offset-l1   onhover-bnft lmn-mt20 no-padding">
		        	<div class="col m4 l3 s4">
		        		<div class="lmn-mirrorimg lmn-bnfticon "></div>
		        	</div>
		        	<div class="col m8 l19 s8">
		        		<p class="lmn-bnnfthding">Benefit #3</p>
		        		<span class="lmn-bnnfthsubhding">Give a realistic picture of
						the startup progression
						against a set of objective
						metrics</span>
		        	</div>
		        </div>
		        <div class="col s12 m6 l5 offset-l1  onhover-bnft lmn-mt20 no-padding">
		        	<div class="col m4 l3 s4">
		        		<div class="lmn-mirrorimg lmn-bnfticon "></div>
		        	</div>
		        	<div class="col m8 l19 s8">
		        		<p class="lmn-bnnfthding">Benefit #4</p>
		        		<span class="lmn-bnnfthsubhding">Get rated objectively to
						boost the personal
						recognition in the startup
						ecosystem</span>
		        	</div>
		        </div>

				</div>
				<!--*********Investors TAB************-->
				<div id="investors" class="col s12">
					  	<div class="col s12 m6 l5 offset-l1   onhover-bnft no-padding">
		        	<div class="col m4 l3 s4">
		        		<div class="lmn-lensimg lmn-bnfticon"></div>
		        	</div>
		        	<div class="col m8 l19 s8">
		        		<p class="lmn-bnnfthding">Benefit #1</p>
		        		<span class="lmn-bnnfthsubhding">Discover the startups with market potential for funding</span>
		        	</div>
		        </div>
		        <div class="col s12 m6 l5 offset-l1  onhover-bnft no-padding">
		        	<div class="col m4 l3 s4">
		        		<div class="lmn-lensimg lmn-bnfticon"></div>
		        	</div>
		        	<div class="col m8 l19 s8">
		        		<p class="lmn-bnnfthding">Benefit #2</p>
		        		<span class="lmn-bnnfthsubhding">
		        			Track the progress of funded startups against objective metrics
		        		</span>
		        	</div>
		        </div>
	        	<div class="col s12 m6 l5 offset-l1   onhover-bnft lmn-mt20 no-padding">
		        	<div class="col m4 l3 s4">
		        		<div class="lmn-lensimg lmn-bnfticon"></div>
		        	</div>
		        	<div class="col m8 l19 s8">
		        		<p class="lmn-bnnfthding">Benefit #3</p>
		        		<span class="lmn-bnnfthsubhding">
		        			Discover quickly the challenges  of early stage funded startups for mentoring guidance

		        		</span>
		        	</div>
		        </div>
		        <div class="col s12 m6 l5 offset-l1  onhover-bnft lmn-mt20 no-padding">
		        	<div class="col m4 l3 s4">
		        		<div class="lmn-lensimg lmn-bnfticon"></div>
		        	</div>
		        	<div class="col m8 l19 s8">
		        		<p class="lmn-bnnfthding">Benefit #4</p>
		        		<span class="lmn-bnnfthsubhding">Discover and engage the right mentors to guide the early stage funded startups
						</span>
		        	</div>
		        </div>
				</div>
	        </div>
		 </div>
		 </div>
</section>
<!--*********TOP************-->
<section class="lnm-top">
	<div class="container" style="width:85%;">
		<div class="row rw-btm">
	        <div class="col s12 m12 l12">
	        	<H5 class="lnmdel-toptext">TOP</H5>
	        </div>
		 </div>
		 <div class="row">
		    <div class="col s12  l4 offset-l4 m4 offset-m4">
		      <ul class="tabs lmn-tabs">
		        <li class="tab lmn-tab col s3"><a class="active" href="#test1">Startups</a></li>
		        <li class="tab lmn-tab col s3"><a  href="#test2">Mentors</a></li>
		      </ul>
		    </div>
		    <!--*********TAB ONE************-->
		    <div id="test1" class="col s12 lmn-mt15">
		    	<div class="col s12 m6 l3 mbt10"  ng-repeat="startuplist in startups | limitTo:4">
		    		<div class="lmn-topbox  shadow-hover lmn-topmnht" ng-class="'lmn-topbtn' + ($index % 3)" >
						<div class="lmn-boximg">
							<!-- <img src="assets/images/startup/startup-03.jpg" class="lmn-crcleimg"> -->
							<img on-error="assets/images/defaulterror/default-logo.png" ng-src="{{imageUrl}}{{startuplist.startup_logo}}"  class="lmn-crcleimg"/>
	 					</div>
						<div>
							<div class="lmn-tophdsb">
								<p class="lmn-topjnam">{{startuplist.startup_name}}</p>
								<p class="lmn-topsub"><span class="lmn-topsubnm">Idea Category :</span>{{startuplist.category_seo_url}}</p>
								<p class="lmn-topsub">{{startuplist.tag_line}}</p>
							</div>
							
							<div class="lmn-rtdiv">
								<!--<p class="lmnright-num">{{startuplist.startupratingnum}}</p>-->
								<p class="lmnright-num">70</p>
							</div>
						</div>
						<div class="clear">
							<p class="lmn-topcnttext" title="{{startuplist.brief_description}}">{{startuplist.brief_description | truncate}} </p>
						</div>
					</div>
		    	</div>
            </div>
		     <!--*********TAB TWO************-->
		    <div id="test2" class="col s12 lmn-mt15">
		    	<div class="col s12 m6 l3 mbt10" >
		    		<div class="lmn-topbox lmn-topbtn lmn-minhtop shadow-hover">
						<div class="lmn-boximg">
							<img src="assets/images/mentors/mentorsimg/1.jpg" class="lmn-crcleimg">
						</div>
						<div>
							<div class="lmn-tophdsb">
								<p class="lmn-topjnam">Pinkesh Shah</p>
								<p class="lmn-topsub">Product Executive, Investor, Passion to Build Product Leadership Community</p>
							</div>
							<div class="lmn-rtdiv">
								<p class="lmnright-num">75</p>
							</div>
						</div>
						<div class="clear">
							<!--<p class="lmn-topcnttext">Content goes here Content goes here Content goes here Content goes </p>-->
						</div>
					</div>
		    	</div>
		    	<div class="col s12 m6 l3 mbt10">
		    	<div class="lmn-topbox lmn-topbtn0  lmn-minhtop shadow-hover">
						<div class="lmn-boximg">
							<img src="assets/images/mentors/mentorsimg/2.jpg" class="lmn-crcleimg">
						</div>
						<div>
							<div class="lmn-tophdsb">
								<p class="lmn-topjnam">Rahul Abhyankar</p>
								<p class="lmn-topsub">VP Product Management, Certified Lean Startup Educator, Institute of Product Leadership</p>
							</div>
							<div class="lmn-rtdiv">
								<p class="lmnright-num">75</p>
							</div>
						</div>
						<div class="clear">
							<!--<p class="lmn-topcnttext">Content goes here Content goes here Content goes here Content goes  </p>-->
						</div>
					</div>
		    	</div>
		    		<div class="col s12 m6 l3">
		    	<div class="lmn-topbox lmn-topbtn1  lmn-minhtop shadow-hover">
						<div class="lmn-boximg">
							<img src="assets/images/mentors/mentorsimg/3.jpg" class="lmn-crcleimg">
						</div>
						<div>
							<div class="lmn-tophdsb">
								<p class="lmn-topjnam">Akshay Cherian</p>
								<p class="lmn-topsub">Business coach: Innovation, Sales & Marketing</p>
							</div>
							<div class="lmn-rtdiv">
								<p class="lmnright-num">75</p>
							</div>
						</div>
						<div class="clear">
							<!--<p class="lmn-topcnttext">Content goes here Content goes here Content goes here Content goes  </p>-->
						</div>
					</div>
		    	</div>
		    		<div class="col s12 m6 l3">
		    	<div class="lmn-topbox lmn-topbtn2  lmn-minhtop shadow-hover">
						<div class="lmn-boximg">
							<img src="assets/images/mentors/mentorsimg/4.jpg" class="lmn-crcleimg">
						</div>
						<div>
							<div class="lmn-tophdsb">
								<p class="lmn-topjnam">Nandini Vaidyanathan MLE</p>
								<p class="lmn-topsub">Founder and Mentor, CARMa (creating access to resources and markets)</p>
							</div>
							<div class="lmn-rtdiv">
								<p class="lmnright-num">75</p>
							</div>
						</div>
						<div class="clear">
							<!--<p class="lmn-topcnttext">Content goes here Content goes here Content goes here Content goes </p>-->
						</div>
					</div>
		    	</div>
		    	</div>



		    </div>
		  </div>
		</div>
</section>
<!--*********DELIGHTED CUSTOMERS STRAT************-->
<section class="lnm-deligatecstm">
	<div class="container">
			<div class="row ">
		        <div class="col s12 m12 l12">
		        	<H5 class="lnmdel-hdtext">DELIGHTED CUSTOMERS</H5>
		        	<H6 class="lnmdel-subtext">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</H6>
		        </div>
		        
			 </div>
			 </div>
			 <div class="container lnm-deligatecnt">
			 	<div class="row ">
		        	<div class="owl-carousel" id="owl-car"> 
		        	<div class="item">
		        		<img src="assets/images/delightedcustm/1.jpg">
		        	</div>
		        	<div class="item">
		        		<img src="assets/images/delightedcustm/2.jpg">
		        	</div>
		        	<div class="item">
		        		<img src="assets/images/delightedcustm/3.jpg">
		        	</div>
		        	<div class="item">
		        		<img src="assets/images/delightedcustm/1.jpg">
		        	</div>
		        	<div class="item">
		        		<img src="assets/images/delightedcustm/2.jpg">
		        	</div>
					</div>
			 	</div>
			 </div>
		</div>
</section>
<!--*********SIGNUP FOR EARLY ACCESS PROGRAM STRAT************-->
<section class="lnm-signupstm">
	<div class="container">
			<div class="row ">
		        <div class="col s12 m12 l12">
		        	<H5 class="lnmdel-signhdtex">SIGNUP FOR AN EARLY ACCESS PROGRAM TO SHAPE THE PLATEFORM</H5>
		        	<H6 class="lnmdel-subtext">Drop your Query</H6>
		        </div>
			 </div>
			 <div class="row ">
		        <div class="col s12 m12 l12">
		        	<div class="input-field col s2 ">
			         <p class="input-txtlumn">Name</p>
			        </div>
	        		 <div class="input-field col s4 samp_bg">
			          <input placeholder="Your Name..." id="first_name" type="text" class="validate input-type">
			        </div>
			        <div class="input-field col s2 ">
			         <p class="input-txtlumn">Country</p>
			        </div>
	        		 <div class="input-field col s4 samp_bg no-padding">
			          <select class="browser-default "  name="country" required>
								<option value="">Select a country</option>
								<option value="Afghanistan">Afghanistan</option>
								<option value="Albania">Albania</option>
								<option value="Algeria">Algeria</option>
								<option value="American Samoa">American Samoa</option>
								<option value="Andorra">Andorra</option>
								<option value="Angola">Angola</option>
								<option value="Anguilla">Anguilla</option>
								<option value="Antarctica">Antarctica</option>
								<option value="Antigua and Barbuda">Antigua and Barbuda</option>
								<option value="Argentina">Argentina</option>
								<option value="Armenia">Armenia</option>
								<option value="Aruba">Aruba</option>
								<option value="Australia">Australia</option>
								<option value="Austria">Austria</option>
								<option value="Azerbaijan">Azerbaijan</option>
								<option value="Bahamas">Bahamas</option>
								<option value="Bahrain">Bahrain</option>
								<option value="Bangladesh">Bangladesh</option>
								<option value="Barbados">Barbados</option>
								<option value="Belarus">Belarus</option>
								<option value="Belgium">Belgium</option>
								<option value="Belize">Belize</option>
								<option value="Benin">Benin</option>
								<option value="Bermuda">Bermuda</option>
								<option value="Bhutan">Bhutan</option>
								<option value="Bolivia">Bolivia</option>
								<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
								<option value="Botswana">Botswana</option>
								<option value="Bouvet Island">Bouvet Island</option>
								<option value="Brazil">Brazil</option>
								<option value="Brunei Darussalam">Brunei Darussalam</option>
								<option value="Bulgaria">Bulgaria</option>
								<option value="Burkina Faso">Burkina Faso</option>
								<option value="Burundi">Burundi</option>
								<option value="Cambodia">Cambodia</option>
								<option value="Cameroon">Cameroon</option>
								<option value="Canada">Canada</option>
								<option value="Cape Verde">Cape Verde</option>
								<option value="Cayman Islands">Cayman Islands</option>
								<option value="Central African Republic">Central African Republic</option>
								<option value="Chad">Chad</option>
								<option value="Chile">Chile</option>
								<option value="China">China</option>
								<option value="Christmas Island">Christmas Island</option>
								<option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
								<option value="Colombia">Colombia</option>
								<option value="Comoros">Comoros</option>
								<option value="Congo">Congo</option>
								<option value="Cook Islands">Cook Islands</option>
								<option value="Costa Rica">Costa Rica</option>
								<option value="Croatia">Croatia</option>
								<option value="Cyprus">Cyprus</option>
								<option value="Czech Republic">Czech Republic</option>
								<option value="Denmark">Denmark</option>
								<option value="Djibouti">Djibouti</option>
								<option value="Dominica">Dominica</option>
								<option value="Dominican Republic">Dominican Republic</option>
								<option value="East Timor">East Timor</option>
								<option value="Ecuador">Ecuador</option>
								<option value="Egypt">Egypt</option>
								<option value="El Salvador">El Salvador</option>
								<option value="Equatorial Guinea">Equatorial Guinea</option>
								<option value="Eritrea">Eritrea</option>
								<option value="Estonia">Estonia</option>
								<option value="Ethiopia">Ethiopia</option>
								<option value="Falkland Islands">Falkland Islands</option>
								<option value="Faroe Islands">Faroe Islands</option>
								<option value="Fiji">Fiji</option>
								<option value="Finland">Finland</option>
								<option value="France">France</option>
								<option value="French Guiana">French Guiana</option>
								<option value="French Polynesia">French Polynesia</option>
								<option value="Gabon">Gabon</option>
								<option value="Gambia">Gambia</option>
								<option value="Georgia">Georgia</option>
								<option value="Germany">Germany</option>
								<option value="Gibraltar">Gibraltar</option>
								<option value="Greece">Greece</option>
								<option value="Guatemala">Guatemala</option>
								<option value="Guinea-Bissau">Guinea-Bissau</option>
								<option value="Guyana">Guyana</option>
								<option value="Haiti">Haiti</option>
								<option value="Honduras">Honduras</option>
								<option value="Hong Kong">Hong Kong</option>
								<option value="Hungary">Hungary</option>
								<option value="Iceland">Iceland</option>
								<option value="India">India</option>
								<option value="Indonesia">Indonesia</option>
								<option value="Iraq">Iraq</option>
								<option value="Ireland">Ireland</option>
								<option value="Israel">Israel</option>
								<option value="Italy">Italy</option>
								<option value="Ivory Coast">Ivory Coast</option>
								<option value="Jamaica">Jamaica</option>
								<option value="Japan">Japan</option>
								<option value="Jordan">Jordan</option>
								<option value="Kazakhstan">Kazakhstan</option>
								<option value="Kenya">Kenya</option>
								<option value="Kiribati">Kiribati</option>
								<option value="Korea,South">Korea,South</option>
								<option value="Kuwait">Kuwait</option>
								<option value="Kyrgyzstan">Kyrgyzstan</option>
								<option value="Laos">Laos</option>
								<option value="Latvia">Latvia</option>
								<option value="Lebanon">Lebanon</option>
								<option value="Lesotho">Lesotho</option>
								<option value="Liberia">Liberia</option>
								<option value="Liechtenstein">Liechtenstein</option>
								<option value="Lithuania">Lithuania</option>
								<option value="Luxembourg">Luxembourg</option>
								<option value="Macau">Macau</option>
								<option value="Macedonia">Macedonia</option>
								<option value="Madagascar">Madagascar</option>
								<option value="Malawi">Malawi</option>
								<option value="Malaysia">Malaysia</option>
								<option value="Maldives">Maldives</option>
								<option value="Mali">Mali</option>
								<option value="Malta">Malta</option>
								<option value="Mauritius">Mauritius</option>
								<option value="Mexico">Mexico</option>
								<option value="Moldavia">Moldavia</option>
								<option value="Morocco">Morocco</option>
								<option value="Namibia">Namibia</option>
								<option value="Netherlands">Netherlands</option>
								<option value="New Zealand">New Zealand</option>
								<option value="Nigeria">Nigeria</option>
								<option value="No place, unknown, or undetermined">No place, unknown, or undetermined</option>
								<option value="Norway">Norway</option>
								<option value="Oman">Oman</option>
								<option value="Pakistan">Pakistan</option>
								<option value="Panama">Panama</option>
								<option value="Paraguay">Paraguay</option>
								<option value="Peru">Peru</option>
								<option value="Philippines">Philippines</option>
								<option value="Poland">Poland</option>
								<option value="Portugal">Portugal</option>
								<option value="Puerto Rico">Puerto Rico</option>
								<option value="Reunion (French)">Reunion (French)</option>
								<option value="Romania">Romania</option>
								<option value="Russia">Russia</option>
								<option value="Rwanda">Rwanda</option>
								<option value="Saudi Arabia">Saudi Arabia</option>
								<option value="Scotland">Scotland</option>
								<option value="Sierra Leone">Sierra Leone</option>
								<option value="Singapore">Singapore</option>
								<option value="Slovak Republic">Slovak Republic</option>
								<option value="Slovenia">Slovenia</option>
								<option value="South Africa">South Africa</option>
								<option value="Spain">Spain</option>
								<option value="Sri Lanka">Sri Lanka</option>
								<option value="Swaziland">Swaziland</option>
								<option value="Sweden">Sweden</option>
								<option value="Switzerland">Switzerland</option>
								<option value="Tadjikistan">Tadjikistan</option>
								<option value="Taiwan">Taiwan</option>
								<option value="Thailand">Thailand</option>
								<option value="Tunisia">Tunisia</option>
								<option value="Turkey">Turkey</option>
								<option value="USA Minor Outlying Islands">USA Minor Outlying Islands</option>
								<option value="Uganda">Uganda</option>
								<option value="Ukraine">Ukraine</option>
								<option value="United Arab Emirates">United Arab Emirates</option>
								<option value="United Kingdom">United Kingdom</option>
								<option value="United States">United States</option>
								<option value="Uruguay">Uruguay</option>
								<option value="Uzbekistan">Uzbekistan</option>
								<option value="Vanuatu">Vanuatu</option>
								<option value="Venezuela">Venezuela</option>
								<option value="Vietnam">Vietnam</option>
								<option value="Virgin Islands (British)">Virgin Islands (British)</option>
								<option value="Wales">Wales</option>
								<option value="Yemen">Yemen</option>
								<option value="Yugoslavia">Yugoslavia</option>
								<option value="Zimbabwe">Zimbabwe</option>
							</select>
			        </div>
		        </div>
		         <div class="col s12 m12 l12">
		        	<div class="input-field col s2 ">
			         <p class="input-txtlumn">Contact</p>
			        </div>
	        		 <div class="input-field col s4 samp_bg">
			          <input placeholder="Contact Number.." id="number" type="text" class="validate input-type">
			        </div>
			        <div class="input-field col s2 ">
			         <p class="input-txtlumn">Email</p>
			        </div>
	        		 <div class="input-field col s4 samp_bg ">
			     		 <input placeholder="Email Address..." id="number" type="text" class="validate input-type">
			        </div>
		        </div>
		        <div class="col s12 m12 l12">
		        	<div class="input-field col s2 ">
			         <p class="input-txtlumn">Enquiry</p>
			        </div>
	        		 <div class="input-field col s10 samp_bg ">
			     		    <textarea placeholder="message" id="textarea1" class="materialize-textarea input-type"></textarea>
			        </div>
		        </div>
		         <div class="col s12 m12 l12">
		        	<p><a class="waves-effect waves-light btn btn-green lmn-signsubmt right">Submit</a></p>
		        </div>
		     </div>
	</div>
</section>
<!--*********GET STARTED STRAT*************-->
<section class="lnm-getstart">
	<div class="container">
			<div class="row ">
		        <div class="col s12 m12 l12">
		        	<H5>GET STARTED FOR FREE</H5>
		        </div>
			 </div>
			<div class="owl-carousel" id="owl-get">
			<!--******** ITEM ONE************-->
	        	<div class="item">
			        <div class="col s12 m12 l12">
			        	<P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</P>
			        </div>
			         <div class="col s12 m12 l12">
			        	<p><a class="waves-effect waves-light btn btn-green lnm-getstartbtn">More</a></p>
			        </div>
		        </div>
		        <!--******** ITEM TWO************-->
		        <div class="item">
			        <div class="col s12 m12 l12">
			        	<P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</P>
			        </div>
			         <div class="col s12 m12 l12">
			        	<p><a class="waves-effect waves-light btn btn-green lnm-getstartbtn ">More</a></p>
			        </div>
		        </div>
	        </div>
 		</div>
 </section>   



<!--FOOTER DIRECTIVE-->
<footer></footer>

<script>
$(".button-collapse").sideNav();
$('ul.tabs').tabs();
$('.slider').slider({full_width: true, indicators:true});
  var owl = $('#owl-get');
		owl.owlCarousel({
			items:1,
			loop:true,
			margin:10,
		  	itemsDesktop : [1199,1],
		  	itemsDesktopSmall : [979,1],
			autoplay:true,
			autoplayTimeout:3000,
			autoplayHoverPause:true,
			pagination : true,
			indicators:true
		});
		
	var owl = $('#owl-car');
		owl.owlCarousel({
			items:4,
			loop:true,
			margin:10,
		  	itemsDesktop : [1199,4],
		  	itemsDesktopSmall : [979,4],
		  	pagination : true,
		  	autoplay:true
		});
		var owl = $('#owl-summary');
		owl.owlCarousel({
			items:4,
			loop:true,
			margin:0,
		  	itemsDesktop : [1199,4],
		  	itemsDesktopSmall : [979,4],
		  	autoplay:true,
		  	pagination : true,
		  	paginationNumbers: false
		});
</script>