
<!--HEADER DIRECTIVE-->
<homenav></homenav>

<!--*************MENTORS SECTION************-->
<section class="lmn-mentors">
	<div class="container cnt">
 	 	<div class="row ">
   			 <div class="col s12 ">
   			  	<div class="lmn-box ">
   			  		<div class="row "><!--{{mentor}}==>-->
	   			  			<div class="col s12 m6 l4" ng-repeat="mentorlist in mentor">
								<!--<a href="#/mentorsdetails/{{mentorlist.user_seo_url}}">-->
								<a href="#/mentorsdetails/{{mentorlist.user_seo_url}}">
		   			  		<div class="lmn-mentorsbox lmn-mentormin shadow-hover1">
			   			  		<div class="row rw-btm">
			   			  			<div class="col s12 m3 l3"><!--==>{{mentor}}-->
			   			  				<!--<img src="assets/images/mentors/mentorsimg/1.jpg" class="lmn-mentorsimg">--><!--{{imgUrl}}===>>-->
										<img on-error="assets/images/defaulterror/default-logo.png"  ng-src="{{imgUrl}}{{mentorlist.profile_pic}}" class="lmn-mentorsimg"/>
			   			  			</div>
			   			  			<div class="col s12 m6 l6">
			   			  				<div class="lmn-strtnamesec">
			   			  					<p class="lmn-mntstname">{{mentorlist.name}}</p>
			   			  					<p class="lmn-mntstagline">{{mentorlist.designation}}</p>
			   			  					<!--<p class="lmn-mntstagline"><span class="lmn-tnt">Title :</span>Company</p>-->
			   			  				</div>
			   			  			</div>
			   			  			<div class="col s12 m3 l3 lmn-strtnamesec">
										 <div class="c100 p100 small mentors-cir">
											<span>75</span>
											<div class="slice">
												<div class="bar"></div>
												<div class="fill"></div>
											</div>
										</div>
			   			  			</div>
			   			  		</div>
		   			  		</div>
								</a>
	   			  		</div>
	   			  	<!--	<a href="#/mentorsdetails">
	   			  		  		<div class="col s12 m6 l4">
		   			  		<div class="lmn-mentorsbox lmn-mentormin shadow-hover1">
			   			  		<div class="row rw-btm">
			   			  			<div class="col s12 m3 l3">
			   			  				<img src="assets/images/mentors/mentorsimg/2.jpg" class="lmn-mentorsimg">
			   			  			</div>
			   			  			<div class="col s12 m6 l6">
			   			  				<div class="lmn-strtnamesec">
			   			  					<p class="lmn-mntstname">Rahul Abhyankar</p>
			   			  					<p class="lmn-mntstagline">VP Product Management, Certified Lean Startup Educator, Institute of Product Leadership</p>
			   			  					&lt;!&ndash;<p class="lmn-mntstagline"><span class="lmn-tnt">Title :</span>Company</p>&ndash;&gt;
			   			  				</div>
			   			  			</div>
			   			  			<div class="col s12 m3 l3 lmn-strtnamesec">
			   			  			 <div class="c100 p100 small mentors-cir">
				                    <span>75</span>
				                    <div class="slice">
				                        <div class="bar"></div>
				                        <div class="fill"></div>
				                    </div>
				                </div>
			   			  			</div>
			   			  		</div>
		   			  		</div>
	   			  		</div></a>
	   			  		<a href="#/mentorsdetails">
	   			  		  		<div class="col s12 m6 l4">
		   			  		<div class="lmn-mentorsbox lmn-mentormin shadow-hover1">
			   			  		<div class="row rw-btm">
			   			  			<div class="col s12 m3 l3">
			   			  				<img src="assets/images/mentors/mentorsimg/3.jpg" class="lmn-mentorsimg">
			   			  			</div>
			   			  			<div class="col s12 m6 l6">
			   			  				<div class="lmn-strtnamesec">
			   			  					<p class="lmn-mntstname">Akshay Cherian</p>
			   			  					<p class="lmn-mntstagline">Business coach: Innovation, Sales & Marketing</p>
			   			  					&lt;!&ndash;<p class="lmn-mntstagline"><span class="lmn-tnt">Title :</span>Company</p>&ndash;&gt;
			   			  				</div>
			   			  			</div>
			   			  			<div class="col s12 m3 l3 lmn-strtnamesec">
			   			  			 <div class="c100 p100 small mentors-cir">
				                    <span>75</span>
				                    <div class="slice">
				                        <div class="bar"></div>
				                        <div class="fill"></div>
				                    </div>
				                </div>
			   			  			</div>
			   			  		</div>
		   			  		</div>
	   			  		</div></a>
	   			  		<a href="#/mentorsdetails">
	   			  		  		<div class="col s12 m6 l4">
		   			  		<div class="lmn-mentorsbox lmn-mentormin shadow-hover1">
			   			  		<div class="row rw-btm">
			   			  			<div class="col s12 m3 l3">
			   			  				<img src="assets/images/mentors/mentorsimg/4.jpg" class="lmn-mentorsimg">
			   			  			</div>
			   			  			<div class="col s12 m6 l6">
			   			  				<div class="lmn-strtnamesec">
			   			  					<p class="lmn-mntstname">Nandini Vaidyanathan MLE</p>
			   			  					<p class="lmn-mntstagline">Founder and Mentor, CARMa (creating access to resources and markets)</p>
			   			  					&lt;!&ndash;<p class="lmn-mntstagline"><span class="lmn-tnt">Title :</span>Company</p>&ndash;&gt;
			   			  				</div>
			   			  			</div>
			   			  			<div class="col s12 m3 l3 lmn-strtnamesec">
			   			  			 <div class="c100 p100 small mentors-cir">
				                    <span>75</span>
				                    <div class="slice">
				                        <div class="bar"></div>
				                        <div class="fill"></div>
				                    </div>
				                </div>
			   			  			</div>
			   			  		</div>
		   			  		</div>
	   			  		</div></a>-->
   			  		</div>
   			  	</div>
   			  </div>
   		</div>
   	</div>
</section>


<!--FOOTER DIRECTIVE-->
<footer></footer>

