<!--HEADER DIRECTIVE-->
<homenav></homenav>
<section class="lnm-login-signup">
    <div class="container">
        <div class="row rw-btm ln-mt100">
            <div class="col l6 s12 m6 offset-m3 offset-l3">
                <div class="card back nomargin">
                    <div class="card-content">
                        <form  name="resetForm" ng-submit="submitted=true;resetForm.$valid && resetPassword(user)"  novalidate>
                            <center>RE-SET PASSWORD</center>
                            <div class="row rw-btm">
                                <!--<div class="input-field col s12">
                                    <input id="password" type="password" class="validate" ng-minlength="8" ng-model="user.password" required>
                                    <label for="password">Password</label>
                                    <div class="error" ng-show="resetForm.password.$invalid">
                                        <small class="star-required" ng-show=" submitted && resetForm.password.$error.required">password is required.</small>
                                        <p ng-show="resetForm.password.$error.minlength" ><span class="star-required">Please enter strong password , should be more than 8 characters!</span></p>
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    <input id="retypepassword" type="password" class="validate" ng-model="user.confirmPassword">
                                    <label for="retypepassword">Re-Type Password</label>
                                </div>-->
                                <div class="input-field col s12 ">
                                    <input id="passwords" type="password" ng-model="user.password" ng-minlength="8" name="password" class="validate lnm-input" required>
                                    <label for="passwords">Password</label>
                                    <div class="error" ng-show="resetForm.password.$invalid">
                                        <small class="star-required" ng-show=" submitted && resetForm.password.$error.required">password is required.</small>
                                        <p ng-show="resetForm.password.$error.minlength" ><span class="star-required">Please enter strong password , should be more than 8 characters!</span></p>
                                    </div>
                                </div>
                                <div class="input-field col s12 ">
                                    <input id="confirmpassword" type="password" class="validate lnm-input" name="confirmPassword" ng-model="user.confirmPassword" required>
                                    <label for="confirmpassword">Re-Type Password</label>
                                    <p class="star-match" ng-show="user.password!=user.confirmPassword">Confirm Password input field is not matching Password Field ,Please check it!</p>
                                    <p ng-show="resetForm.confirmpassword.$error.required " class="help-block">Confirm Password is required.</p>
                                </div>
                            </div>
                            <div class="row rw-btm">
                                <center><button  class="waves-effect waves-light btn lnm-signin" type="submit">Submit</button></center>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--FOOTER DIRECTIVE-->
<footer></footer>
