<homenav></homenav>

<!--BREADCRUMS DIRECTIVE-->
<startupdetailheader data="startupdetail"></startupdetailheader>

<!--************TRANSACTION BOARD***********-->
<section>
    <div class="container cnt">
        <div class="row">
            <div class="col s12 nopadding">
                <div class="lmn-box row lmn-mt50">
                    <div class="col s12 m12 l5">
                        <ul class="tabs lmn-tabs">
                            <li class="tab lmn-tab col s2 l2 m6"><a class="active" href="#problemfit">Problem-Solution Fit</a>
                            </li>
                            <li class="tab lmn-tab col s2 l2 m6"><a href="#productfit">Product-Market Fit</a></li>
                        </ul>
                    </div>
                    <div id="problemfit" class="col s12 mt20-lmn no-padding">
                        <div class="col s12 l4 m4">
                            <div class="lmn-box lmx-hvbox">
                                <div class="row rw-btm">
                                    <div class="col s12 l12 m12">
                                        <p class="lmn-trnspsi">Problem Pain Point Index</p>
                                    </div>
                                    <div class="col s12 l9 m12">
                                        <p class="lmn-trsnspiscnt">Number of customers who have indicated problem is
                                            severe (> 8 on a scale of 10) through expression of intent needing a
                                            solution to the problem (e.g. landing page sign-ups, formal expression of
                                            intent letter)</p>
                                    </div>
                                    <div class="col s12 l3 m12">
                                        <div class="c100 p100 small lmn-trnspsicir">
                                            <span>155</span>
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l4 m4 ">
                            <div class="lmn-box lmx-hvbox">
                                <div class="row rw-btm">
                                    <div class="col s12 l12 m12">
                                        <p class="lmn-trnspsi">Solution Relevancy Index</p>
                                    </div>
                                    <div class="col s12 l9 m12">
                                        <p class="lmn-trsnspiscnt">Number of activated customers who is using the MVP
                                            actively to suggest enough people care about YOUR solution</p>
                                    </div>
                                    <div class="col s12 l3 m12">
                                        <div class="c100 p100 small lmn-trnspsicir">
                                            <span>75</span>
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l4 m4 ">
                            <div class="lmn-box lmx-hvbox">
                                <div class="row rw-btm">
                                    <div class="col s12 l12 m12">
                                        <p class="lmn-trnspsi">Payment Willingness Index</p>
                                    </div>
                                    <div class="col s12 l9 m12">
                                        <p class="lmn-trsnspiscnt">Number of customers who have expressed willingness or
                                            have paid for using YOUR solution</p>
                                    </div>
                                    <div class="col s12 l3 m12">
                                        <div class="c100 p100 small lmn-trnspsicir">
                                            <span>45</span>
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="productfit" class="col s12 mt20-lmn">
                    <div class="col s4 offset-s8">
                       <!-- <span class="col s2 "><div class="trans-act-cal"><i class="fa fa-calendar" aria-hidden="true"></i></div></span> &nbsp; &nbsp;
                       <div class="col s8"><input type="text" class="datepicker" name="DateTo" id="DateTo"   clrequired / style="height: 1rem;"></div>
        -->
                        <select class="browser-default">
                            <option value="1" selected> Latest Snapshot</option>
                            <option value="2">Last 30 days</option>
                            <option value="3" > Last 90 Days</option>
                            <option value="4" > Last 6 months</option>
                            <option value="5" > Last 1 year </option>
                            <option value="6" > Last 90 Days</option>
                        </select>
                    </div>
                        <ul class="tabs lmn-mt-38" style="margin-top:0px !important;">
                            <li class="tab lnm-transtab col s3"><a class="active" href="#test1">Acquisition</a></li>
                            <li class="tab col s3  lnm-transtab"><a href="#test2">Activation</a></li>
                            <li class="tab col s3  lnm-transtab"><a href="#test3">Retention</a></li>
                            <li class="tab col s3  lnm-transtab"><a href="#test4">Revenue</a></li>
                            <li class="tab col s3  lnm-transtab"><a href="#test5">Referrals</a></li>
                        </ul>
                        <div class="col s12  nopadding">
                            <div class="row lmn-box lmn-10fx">
                                <div id="test1" class="col s12">
                                    <div class="col s12 m3 l3 lumn-transcntcle">
                                        <div class="lmn-trans lmn-transc1">
                                            <p class="lmn-transc1text">1200</p>
                                        </div>
                                        <p>Number of visits per month</p>
                                    </div>
                                    <div class="col s12 m3 l3 lumn-transcntcle">
                                        <div class="lmn-trans lmn-transc2">
                                            <p class="lmn-transc1text">1200</p>
                                        </div>
                                        <p>Total Number of visits </p>
                                    </div>
                                    <div class="col s12 m3 l3 lumn-transcntcle">
                                        <div class="lmn-trans lmn-transc3">
                                            <p class="lmn-transc1text">1200</p>
                                        </div>
                                        <p>Number of sign-ups per month</p>
                                    </div>
                                    <div class="col s12 m3 l3 lumn-transcntcle">
                                        <div class="c100 p100 large lmn-signupcnv">
                                            <span>7/10</span>
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                        <p>Sign ups conversion</p>
                                    </div>
                                </div>
                                <div id="test2" class="col s12">
                                    <div class="col s12 m4 l4 lumn-transcntcle">
                                        <div class="lmn-trans lmn-transc1">
                                            <p class="lmn-transc1text">1200</p>
                                        </div>
                                        <p>Average Number of Active User per Month</p>
                                    </div>
                                    <div class="col s12 m4 l4  lumn-transcntcle">
                                        <div class="lmn-trans lmn-transc2">
                                            <p class="lmn-transc1text">1200</p>
                                        </div>
                                        <p>Total Active Users </p>
                                    </div>
                                    <div class="col s12 m4 l4  lumn-transcntcle">
                                        <div class="lmn-trans lmn-transc3">
                                            <p class="lmn-transc1text">1200</p>
                                        </div>
                                        <p>Active Users as a Percentage of Sign-Up</p>
                                    </div>


                                </div>
                                <div id="test3" class="col s12">
                                    <div class="col s12 m4 l4 lumn-transcntcle">
                                        <div class="lmn-trans lmn-transc1">
                                            <p class="lmn-transc1text">1200</p>
                                        </div>
                                        <p>Monthly Churn</p>
                                    </div>
                                    <div class="col s12 m4 l4  lumn-transcntcle">
                                        <div class="lmn-trans lmn-transc2">
                                            <p class="lmn-transc1text">1200</p>
                                        </div>
                                        <p>Total Churn </p>
                                    </div>
                                    <div class="col s12 m4 l4  lumn-transcntcle">
                                        <div class="lmn-trans lmn-transc3">
                                            <p class="lmn-transc1text">1200</p>
                                        </div>
                                        <p>Churn Rate<br> (as a percentage of Active users)</p>
                                    </div>

                                </div>
                                <div id="test4" class="col s12">
                                    <div class="col s12 m2 l2 lumn-transcntcle">
                                        <div class="lmn-trans lmn-transc1">
                                            <p class="lmn-transc1text">1200</p>
                                        </div>
                                        <p>Average Revenue per Customer per Month</p>
                                    </div>
                                    <div class="col s12 m2 l2  lumn-transcntcle">
                                        <div class="lmn-trans lmn-transc2">
                                            <p class="lmn-transc1text">1200</p>
                                        </div>
                                        <p>Customers Acquisition Cost </p>
                                    </div>
                                    <div class="col s12 m2 l2  lumn-transcntcle">
                                        <div class="lmn-trans lmn-transc3">
                                            <p class="lmn-transc1text">1200</p>
                                        </div>
                                        <p>Monthly Recurring Revenue</p>
                                    </div>
                                    <div class="col s12 m2 l2 lumn-transcntcle">
                                        <div class="lmn-trans lmn-transc1">
                                            <p class="lmn-transc1text">1200</p>
                                        </div>
                                        <p>Lifetime Value of Customer</p>
                                    </div>
                                    <div class="col s12 m2 l2  lumn-transcntcle">
                                        <div class="lmn-trans lmn-transc2">
                                            <p class="lmn-transc1text">1200</p>
                                        </div>
                                        <p>Months to customer Breakeven </p>
                                    </div>
                                    <div class="col s12 m2 l2  lumn-transcntcle">
                                       <!--  <div class="lmn-trans lmn-transc3">
                                            <p class="lmn-transc1text">1200</p>
                                        </div>
                                        <p>Gross Profit Margin</p> -->
                                        <br>
                                         <div class="c100 p100 small revnue-cir">
                                            <span>75</span>
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                        <p class="ptagtxt">Gross Profit Margin </p>
                                    </div>


                                </div>
                                <div id="test5" class="col s12">
                                    <div class="col s12 m4 l4 lumn-transcntcle">
                                        <!-- <div class="lmn-trans lmn-transc1">
                                            <p class="lmn-transc1text">1200</p>
                                        </div> --><br>
                                        <div class="c100 p100 small referal-cir">
                                            <span>30</span>
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                        <p class="ptagtxt">Invitation Rate</p>
                                    </div>
                                    <div class="col s12 m4 l4  lumn-transcntcle">
                                        <!-- <div class="lmn-trans lmn-transc2">
                                            <p class="lmn-transc1text">1200</p>
                                        </div> --><br>
                                         <div class="c100 p100 small referal-cir">
                                            <span>75</span>
                                            <div class="slice">
                                                <div class="bar"></div>
                                                <div class="fill"></div>
                                            </div>
                                        </div>
                                        <p class="ptagtxt">Acceptance Rate </p>
                                    </div>
                                    <div class="col s12 m4 l4  lumn-transcntcle">
                                        <div class="lmn-trans lmn-transc3">
                                            <p class="lmn-transc1text">1200</p>
                                        </div>
                                        <p>Viral Coefficient</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<style type="text/css">
    

</style>
<!--FOOTER DIRECTIVE-->
<footer></footer>
<script type="text/javascript">
$(document).ready(function () {
    $('ul.tabs').tabs();
});
 $("#DateTo").datepicker({
        dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:+0',
        defaultDate: new Date()
});
  $("#DateTo1").datepicker({
        dateFormat: 'yy-mm-dd',
        changeMonth: true,
        changeYear: true,
        yearRange: '1950:+0',
        defaultDate: new Date()
});
</script>