<!-- <center >{{timelinedata.rating}}</center>
 -->
<div style="position:relative">
<div class="lmn-timelinfill" style="width: {{timelinedata.rating | timeline}}%;"></div>
	<div class="lmn-thumpointer" style="left:{{timelinedata.rating | timeline}}%;"></div>
	<!-- <div class="lmn-thumpointer" ng-if="statename=='mentorsdetails'" style="left:{{timelinedata.startupratingnum | timeline}}%;"></div> -->
	<!-- <div class="lmn-thumpointer" ng-if="statename=='ratingboard'" style="left:{{timelinedata.rating | timeline}}%;"></div> -->
	<div class="lmn-tmline-outbox">
		<div class="lmn-timelinenumb">0</div>
		<div class="lmn-tmline">
		</div>
		<div class="lmn-tmlinecir"></div>
	</div>
	<div class="lmn-tmline-outbox">
		<div class="lmn-timelinenumb">100</div>
		<div class="lmn-tmline" style="width: 50%;">
		</div>
		<div class="lmn-tmlinecir"></div>
		<div class="lmn-onhvrtmn">
			<div class="arrow-uptmlmtextbox"></div>
	    		<div class="lmn-tmlmtextbox">
	    		<p  class="lmn-timelinetxt">Problem-Solution Fit</p>
			</div>
		</div>
	</div>
	
	<div class="lmn-tmline-outbox">
		<div class="lmn-timelinenumb">1000</div>
		<div class="lmn-tmline" style="width:0%;">
		</div>
		<div class="lmn-tmlinecir"></div>
		<div class="lmn-onhvrtmn">
			<div class="arrow-uptmlmtextbox"></div>
			<div class="lmn-tmlmtextbox">
				<p  class="lmn-timelinetxt">Product-Market Fit</p>
			</div>
		</div>
		<div class="lmn000">
		<div class="lmn-lastnumb lmn-timelinenumb ">10,000</div>
		<div class="lmn-tmlinecir last"></div>
		<div class="lmn-onhvrtmn">
			<div class="arrow-uptmlmtextbox"></div>
			<div class="lmn-tmlmtextbox">
				<p  class="lmn-timelinetxt">Business Scale Fit</p>
			</div>
		</div>

	</div>
	</div>
</div>