<!--+++++{{Data}} ===<br/>
<div class=" col s12 m12 " >
	&lt;!&ndash;{{artifactdata}}&ndash;&gt;
	<div class="owl-carousel" data-options="{items:1,pagination: true,navigation: false}" id="owl-demo4">

		ng-repeat="artifact in artifctdata"

		<div class="item"   owl-carousel >bbbbbbbbbbb:{{newyoutubeId}}

	<iframe width="100%" height="100%" src="{{newyoutubeId}}" id="youtubeFrame" frameborder="0" allowfullscreen></iframe>
</div>
		</div>
	</div>-->
<!--
<div class=" col s12 m12 " >
	{{artifactdata}}
	<div class="owl-carousel" data-options="{items:1,pagination: true,navigation: false}" id="owl-demo4">

		ng-repeat="artifact in artifctdata"

		<div class="item"   owl-carousel ng-repeat=" vdata in Data">bbbbbbbbbbb:{{newyoutubeId}}
			+++++{{Data}} ===<br/>
			<iframe width="100%" height="100%" src="{{vdata.newyoutubeId}}" id="youtubeFrame" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>-->
